{% extends 'base.html' %}
{% block content %}

<h1>Musician Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>{{ bandmember.name }}</strong></span>
        <p>{{ bandmember.instrument }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'members_update' bandmember.id %}">Edit</a>
        {% comment %} <a href="{% url 'toys_delete' toy.id %}">Delete</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock %}