{% extends 'base.html' %}
{% block content %}

<h1 class="album-list-header">Album List</h1>

{% for album in albums %}
<div class="card">
  <div class="card-content">
      <a href="{% url 'detail' album.id %}"
      <span class="card-title"><strong id="card-album-title">{{ album.title }}</strong></span>
      <p>Band: {{ album.band }}</p>
      <p>Release Year: {{ album.releaseyear }}</p>
      {% if album.price > 20 %}
        <p class="price">Price: <span class='amount'>${{ album.price }}</span></p>
      {% else %}
        <p class="sold-out">Sold Out!</p>
      {% endif %}
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}