body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e5ecea;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: #04406d;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #04406d;
}

.about {
  color: #ad8961;
  font-size: 1.5em;
}

.about-header {
  color: #ad8961;
  text-align: center;
}

.album-list-header {
  color: #ad8961;
}

.sold-out {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

.index-title {
  color: #ad8961;
  text-align: center;
  margin-top: 10vh;
}

.index-welcome {
  color: #ad8961;
  text-align: left;
  margin-top: 15vh;
}

#card-album-title {
  margin: 0 auto;
  color: #292826;
  font-size: 2rem;
}

h1 {
  color: #ad8961;
}

label {
  color: #292826;
}

.amount {
  color: seagreen;
}

.col-s6 {
  color: red;
}